body {
    position: absolute;
    background: #F5F5F5;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

main {
    background: #FFFFFF;
    padding: 2em;
    text-align: left;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

main, #game {
    width: 600px;
}

#game {
    text-align: center;
}

section {
    padding: 2em 0px;
}

#instructions p:nth-of-type(1) {
    float: left;
}

#instructions p:nth-of-type(2) {
    float: right;
}
